table {
    width: 80%;
    margin: auto;
    /* border-collapse: collapse; */
    margin-top:10%;
    font-family: system-ui;

}
caption{
    margin-bottom: 5px;
    font-size: xx-large;
}   

th{
    color:#0485f5;
    background-color: rgb(169, 207, 240);
    /* border-color: rgb(1, 8, 14); */
}
td{
    color: #1c588d;;
    text-align: center;
    background-color: rgb(201, 226, 248);
    /* border-color: rgb(4, 31, 54); */
    /* border:1px solid black; */
}